---
title: Foxy Labs | Blog
layout: 'base.njk'
---
<style>
   /*********************
  Media Query Classes
**********************/
@media only screen and (max-width: 800px) {
  .hide-on-small-only, .hide-on-small-and-down {
    display: none !important;
  }
}

@media only screen and (max-width: 992px) {
  .hide-on-med-and-down {
    display: none !important;
  }
}

@media only screen and (min-width: 601px) {
  .hide-on-med-and-up {
    display: none !important;
  }
}

@media only screen and (min-width: 800px) and (max-width: 992px) {
  .hide-on-med-only {
    display: none !important;
  }
}

@media only screen and (min-width: 993px) {
  .hide-on-large-only {
    display: none !important;
  }
}

@media only screen and (min-width: 1201px) {
  .hide-on-extra-large-only {
    display: none !important;
  }
}

@media only screen and (min-width: 1201px) {
  .show-on-extra-large {
    display: block !important;
  }
}

@media only screen and (min-width: 993px) {
  .show-on-large {
    display: block !important;
  }
}

@media only screen and (min-width: 800px) and (max-width: 992px) {
  .show-on-medium {
    display: block !important;
  }
}

@media only screen and (max-width: 800px) {
  .show-on-small {
    display: block !important;
  }
}

@media only screen and (min-width: 601px) {
  .show-on-medium-and-up {
    display: block !important;
  }
}

@media only screen and (max-width: 992px) {
  .show-on-medium-and-down {
    display: block !important;
  }
}

@media only screen and (max-width: 800px) {
  .center-on-small-only {
    text-align: center;
  }
}
  
</style>

<section class="hero">
  <div class="container flow row">
    <div class="flow col m6 s12">
      <h1 class="section-title">Welcome to Foxy Labs blog!</h1>
      <p>Below are some of my favourite articles, or you can go to the blog page to see my most recent posts.</p>
      <div><br>
        <a href="#featured-articles" class="btn btn--primary">Featured articles</a>
        <a href="./blog" class="btn btn--neutral">All Articles</a>
      </div>
    </div>
    <div class="col m6 s12 show-on-med-up" style="display: none;">
      <img src="//unsplash.it/510" alt="" class="hero__image">
    </div>
  </div>
</section>

<section id="featured-articles" class="featured-articles"><br><br><br>
  <div class="container-sm flow">
    <h2 class="section-title text-center ">Featured articles</h2>
    <p class="text-center">Here is a sample of articles which I feel give you a good idea of what this site is all
      about.</p>
    <ul role="list" class="articles__list flow">
      {%- for post in collections.featured -%}
        {% include 'article-snippet.njk' %}
      {%- endfor -%}
      <div style="width: 100%; text-align: center">
        <a href="./blog" class="btn btn-link">More Articles</a>
      </div>
    </ul>
  </div>
</section>